.world-name {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: rgb(255, 255, 255);
}
.result {
  color: #01eeff;
}

.staticPanel{
  background-color: rgba(127, 255, 212, 0);
  border: 1px solid #00ffdd;
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: top;
  flex-direction:row;
  position: fixed;
  bottom: 0%;
  max-height: 80px;
}
.statPanelButton{
  background: rgba(75, 75, 75, 0.521) !important;
  backdrop-filter: blur(10px) !important;
  border: none !important;
  color: #ffffff !important;
  text-shadow: 1px 1px 1px #0000009d;
}
.statPanelButton:hover{
  background: rgba(128, 128, 128, 0.473) !important;
  backdrop-filter: blur(10px) !important;
  color: #232c00 !important;
}
.staticPanel input{
  width: 100% !important;
  height: 100%;
  border: none;
  font-size: 20px;
  text-align: center;
  box-shadow: inset #0000009d 5px 5px 10px;
  background-color: #00000059;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000fb;
  backdrop-filter: blur(10px);
}
.staticPanel input:hover{
  background-color: #b4b4b46c;
  color: #000;
  backdrop-filter: blur(10px);
}
.static-panel-info{
  display: flex;
  background-color: #47474742;
  width: 200px;
  min-height: 200px;
  position: fixed;
  right: 20px;
  top: 30px;
  flex-direction: column;
}
.static-panel-info h5{
  color: #ffffff;
  margin: 0;
  max-width: 100%;
  width: 100%;
  border-bottom: #b3b3b3 1px solid;
}
.last-actions {
  background-color:#0000001e;
  overflow: auto;
  white-space: nowrap;
  width: 100%;
  max-height: 120px;
}
.last-actions p {
  color: #ffffff;
  margin: 0;
}
.all-bots {
  background-color:#0000001e;
  overflow: auto;
  white-space: nowrap;
  width: 100%;
  max-height: 150px;
}
.all-bots p {
  color: #ffffff;
  margin: 0;
}